<div class="container d-flex">
    <div class="card animated fadeIn fast m-1" style="width: 18rem;">
        <img src="https://as1.ftcdn.net/v2/jpg/03/79/45/88/1000_F_379458802_wpSVcOI7TNtNWiqF7mKRYXxBIsNQObqA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text animated faseIn">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    
      <div class="card animated fadeIn fast m-1" style="width: 18rem;">
        <img src="https://t3.ftcdn.net/jpg/02/95/31/00/240_F_295310062_yAgoXc8ZAOZNtcPcXEbsPaIc78mM8izw.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text animated faseIn">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div>
  