<div class="container">
    <h1 class="text-center">Resultado de busqueda para: <small class="text-muted">{{termino}}</small></h1>
    <hr>
    
    <div *ngIf="heroes.length > 0 " class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 pb-3 g-4">
       
      <app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx"*ngFor="let heroe of heroes; "></app-heroe-tarjeta>

    </div>


    <div *ngIf="heroes.length== 0 " class="row animated animated fadeIn fast">
        <div class="col-md-12">
            <div class="alert alert-info">
                No se encontrarón resultados para el término: {{termino}}
            </div>
        </div>
    </div>

    
</div>