/* You can add global styles to this file, and also import other style files */

/* .rounded{
  border: solid 5px red;
} */


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  body{
    color: white;
  }
  .mov:hover{
    transform: translateY(-4px);
    transition: all ease .2s;
    box-shadow: 1px 4px 10px rgba(225, 218, 218, 0.93);
  }